<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s_idrive.purch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_maga"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_maga_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.EditPo"
            android:label="Edit PO" />
        <activity android:name=".Activity.PoDalamProses" />
        <activity android:name=".Activity.DaftarPoActivity" />
        <activity android:name=".Activity.DaftarPoSelesai" />
        <activity
            android:name=".Activity.PoBaruActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.PenawaranActivity" />
        <activity
            android:name=".Activity.InputActivity"
            android:label="@string/title_activity_input"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".AndroidService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Firebase.RegisterDevicesActivity"></activity>
    </application>

</manifest>